:root,
html[data-theme="dark"] {
  /* Alloy Palette */
  --surface-1: #1f1f1f;
  --surface-2: #292929;
  --red: #f95793;
  --magenta: #ceb5ff;
  --cyan: #97e0ef;
  --blue: #b3cfff;
  --green: #b5e25a;
  --orange: #fcac50;
  --yellow: #e2e25a;
  --tan: #e5dea0;
  --error: #f47777;
  --text: white;
  --primary: var(--green);
  --secondary: var(--red);

  /* Typography */
  --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --font-serif: "EB Garamond", "EB Garamond-fallback", "Times New Roman", Times,
    serif;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --font-size-h1: 2em;
  --font-size-h2: 1.5em;
  --font-size-h3: 1.17em;
  --font-size-h4: 1em;
  --font-size-h5: 0.83em;
  --font-size-h6: 0.67em;

  /* Other vars */
  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --icon-m: 1rem;
}
html[data-theme="light"] {
  --surface-1: #f1f1f1;
  --surface-2: white;
  --text: #1f1f1f;
  --primary: #3a5b94;
  a {
    font-weight: 600;
  }
}

@font-face {
  font-family: "EB Garamond-fallback";
  size-adjust: 94.30000000000004%;
  ascent-override: 110%;
  src: local("Times New Roman");
}

/* Box sizing */
html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--surface-1);
  color: var(--text);
  font-family: var(--font-serif);
  font-size: 1.25rem;
}

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s;
  &:hover,
  &:focus {
    color: var(--secondary);
    text-decoration: underline;
  }
}

/* Default button styling */
button {
  border: 2px solid transparent;
  background-color: color-mix(in srgb, var(--text) 10%, transparent);
  color: var(--text);
  padding: 0.5em;
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s;
  &:hover,
  &:focus {
    background-color: color-mix(in srgb, var(--text) 20%, transparent);
    border: 2px solid color-mix(in srgb, var(--text) 50%, transparent);
  }
}
