.shiki,
.shiki span {
  background-color: var(--mantle);
}

html[data-theme="mocha"] {
  .shiki,
  .shiki span {
    color: var(--shiki-mocha) !important;
  }
}
html[data-theme="macchiato"] {
  .shiki,
  .shiki span {
    color: var(--shiki-macchiato) !important;
  }
}
html[data-theme="frappe"] {
  .shiki,
  .shiki span {
    color: var(--shiki-frappe) !important;
  }
}
html[data-theme="latte"] {
  .shiki,
  .shiki span {
    color: var(--shiki-latte) !important;
  }
}

pre,
code {
  font-family: var(--font-mono);
  font-size: 0.9em;
}
pre > code {
  font-size: 1em;
}

pre.shiki {
  position: relative;
  border-radius: var(--space-s);
  padding: var(--space-m);
  overflow: hidden;
  white-space: pre-wrap;
  width: 100%;

  code {
    /* place a padding on the inner code element so that when it overflows
    there's still spacing on the right side */
    /* padding-right: 1rem; */
    width: 100%;
    display: block;
  }

  /* decorative text */
  button.copy-code-button,
  &[data-file]::before {
    font-size: 0.7em;
    background-color: transparent;
    opacity: 0.6;
  }

  &[data-file]::before {
    content: attr(data-file);
    display: block;
    margin-bottom: var(--space-s);
  }

  button.copy-code-button {
    align-items: center;
    border-radius: var(--space-xs);
    display: flex;
    gap: var(--space-xs);
    position: absolute;
    right: var(--space-s);
    top: var(--space-s);

    svg {
      display: none;
      width: 1em;
      height: 1em;
    }

    &.copied {
      color: var(--success);
      svg {
        display: initial;
      }
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

/* inline code blocks */
p code {
  color: var(--accent0);
  border-radius: var(--space-xs);
  background-color: var(--surface0);
  padding: 0 var(--space-xs);
}
