html[data-theme="dark"] .shiki,
html[data-theme="dark"] .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

pre,
code {
  font-family: var(--font-mono);
}

pre.shiki {
  position: relative;
  border-radius: var(--space-s);
  padding: var(--space-m);
  overflow: hidden;
  white-space: pre-wrap;
  width: 100%;

  code {
    /* place a padding on the inner code element so that when it overflows
    there's still spacing on the right side */
    /* padding-right: 1rem; */
    width: 100%;
    display: block;
  }

  /* decorative text */
  button.copy-code-button,
  &[data-file]::before {
    font-size: 0.7em;
    background-color: transparent;
    opacity: 0.6;
  }

  &[data-file]::before {
    content: attr(data-file);
    display: block;
    margin-bottom: var(--space-s);
  }

  button.copy-code-button {
    align-items: center;
    border-radius: var(--space-xs);
    display: flex;
    gap: var(--space-xs);
    position: absolute;
    right: var(--space-s);
    top: var(--space-s);

    svg {
      display: none;
      width: 1em;
      height: 1em;
    }

    &.copied {
      svg {
        display: initial;
      }
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

/* inline code blocks */
p code {
  border-radius: var(--space-xs);
  background-color: var(--surface-2);
  padding: 0 var(--space-xs);
}
