@media only screen and (width > 900px) {
  body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      display: grid;
      grid-template-columns: 3rem 1fr;
      left: -3.5rem;
      gap: 0.5rem;
    }

    h1::before,
    h2::before,
    h3::before,
    h4::before,
    h5::before,
    h6::before {
      opacity: 0.2;
      font-size: inherit;
      font-weight: inherit;
      visibility: visible;
      text-align: end;
    }

    h1::before {
      content: "h1";
    }
    h2::before {
      content: "h2";
    }
    h3::before {
      content: "h3";
    }
    h4::before {
      content: "h4";
    }
    h5::before {
      content: "h5";
    }
    h6::before {
      content: "h6";
    }
  }
}
