{%- extends "home.njk" -%}
{% block head %}
{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/post.css" />
{% endblock %}
{% block sitecontent %}
<div class="post-wrapper">
<h1>{{ title }}</h1>
<div class="post-content">
{{ content | safe }}
</div>
</div>
{% endblock %}
{% block postscripts %}
{{ super() }}
<script type="module" src="/modules/copy-code.js"></script>
{% endblock %}